sudo: false
dist: focal
addons:
  homebrew:
    packages:
    - openssl

matrix:
  fast_finish: true
  include:
  - language: java
    env:
    - MAVEN_OPTS=-Xmx2g MAVEN_SKIP_RC=true
    script:
    - cd java
    - ./mvnw -Panalyze clean package
    - ./mvnw apache-rat:check

  - language: cpp
    compiler: gcc
    os: linux

  - language: cpp
    compiler: clang
    os: linux

  - language: cpp
    compiler: clang
    os: osx
    osx_image: xcode11.3
    script:
    - brew link --overwrite --force openssl
    - mkdir build
    - cd build
    - cmake -DBUILD_JAVA=OFF -DOPENSSL_ROOT_DIR=`brew --prefix openssl` ..
    - travis_wait 35 make package test-out

cache:
  directories:
  - $HOME/.m2

script:
  - mkdir build
  - cd build
  - cmake -DBUILD_JAVA=OFF ..
  - travis_wait 35 make package test-out
