language: cpp
sudo: false
dist: trusty

matrix:
  fast_finish: true
  include:
  - compiler: gcc
    os: linux
  - compiler: clang
    os: linux
  - compiler: clang
    os: osx
    osx_image: xcode6.4
    script:
    - mkdir build
    - cd build
    - cmake -DOPENSSL_ROOT_DIR=`brew --prefix openssl` ..
    - make package test-out
  - compiler: clang
    os: osx
    osx_image: xcode8.3
    script:
   - mkdir build
   - cd build
   - cmake -DOPENSSL_ROOT_DIR=`brew --prefix openssl` ..
   - make package test-out

jdk:
  - openjdk7
before_script:
env:
  - MAVEN_OPTS=-Xmx2g MAVEN_SKIP_RC=true
script:
  - mkdir build
  - cd build
  - cmake ..
  - make package test-out