# .htaccess for ORC
RedirectMatch Permanent ^/jira$ https://issues.apache.org/jira/browse/orc
RedirectMatch Permanent ^/github$ https://github.com/apache/orc
RedirectMatch Permanent ^/bugs$ https://issues.apache.org/jira/browse/orc
RedirectMatch Permanent ^/downloads$ https://www.apache.org/dyn/closer.cgi/orc/
RedirectMatch Permanent ^/releases$ https://orc.apache.org/docs/releases.html
RedirectMatch Permanent ^/src$ https://github.com/apache/orc
RedirectMatch Permanent ^/web-src$ https://github.com/apache/orc/tree/master/site
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
